.header {
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-between;
}

.header > div {
  margin: 10px;
}

.header-logo-image {
  width: 200px;
  object-fit: contain;
}

.header-searchbar {
  display: flex;
  background-color: #1c1c1e;
  align-items: center;
  height: 50px;
  border-radius: 50px;
  flex: 1;
}

.header-searchbar > .MuiSvgIcon-root {
  color: white;
  background: none;
  margin: 10px;
}

.header-searchbar-input {
  background: none;
  padding-right: 10px;
}

.header-searchbar-input > input {
  border: none;
  outline-width: 0px;
  background-color: transparent;
  width: 100%;
  color: #eee;
  font-size: 16px;
}

.header-items {
  display: flex;
}

.header-items > p {
  margin: 10px;
}

.header-actions {
  display: flex;
  align-items: center;
}

.header-actions > .light-mode {
  background-color: #1c1c1e;
  border-radius: 50px;
  padding: 7px;
  align-items: center;
}

.light-mode > .MuiSvgIcon-root {
  font-size: 25px;
  background: none;
}

.login-button {
  background: cyan;
  color: black;
  padding: 5px;
}
