.punk-list {
  color: white;
  display: flex;
  cursor: pointer;
  overflow: scroll;
  margin-top: 20px;
  padding: 20px;
  border-bottom: 1px solid white;
  user-select: none;
}

.punk-list::-webkit-scrollbar {
  display: none;
}
