.punk-list {
  color: white;
  display: flex;
  cursor: pointer;
  overflow: scroll;
  margin-top: 20px;
  padding: 20px;
  border-bottom: 1px solid white;
  user-select: none;
}

.punk-list::-webkit-scrollbar {
  display: none;
}

.main {
  display: flex;
}

.punk-highlight > img {
  flex: 0.25;
  height: 20vw;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  width: auto;
  border-radius: 10px;
}

.details {
  display: grid;
  gap: 50px;
  flex: 0.75;
}

.details-punk > .description {
  margin-bottom: 10px;
  font-size: 40px;
  width: 50vw;
}

.details-punk > .id {
  color: grey;
  font-size: 20px;
  font-weight: 600;
}

.owner {
  display: flex;
  align-items: center;
}

.owner-image {
  height: 40px;
  border-radius: 50%;
}

.owner-details {
  margin-left: 5px;
}

.owner-details > .address {
  font-size: 15px;
  text-decoration: none;
}

.owner-details > .username {
  font-style: italic;
  text-decoration: none;
}

.owner-details > .address:hover {
  transform: scale(1.01);
}

.details-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details-user > div > p {
  font-size: 10px;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social-media > .icon {
  margin: 5px;
}
