.punk-list {
  color: white;
  display: flex;
  cursor: pointer;
  overflow: scroll;
  margin-top: 20px;
  padding: 20px;
  border-bottom: 1px solid white;
  user-select: none;
}

.punk-list::-webkit-scrollbar {
  display: none;
}

.main {
  display: flex;
}

.punk-highlight > img {
  height: 200px;
  flex: 0.25;
}

.details {
  display: grid;
  gap: 100px;
  flex: 0.75;
}

.address {
  display: flex;
  align-items: center;
}

.owner-image {
  height: 40px;
  border-radius: 50%;
}

.details-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media {
  display: flex;
}
